#enrollmentForm {
    input:not([type="radio"]),
    select,
    button {
        height: 48px;
    }
}

.form-container{
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    
}
#enrollmentForm {
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;

}
.form-header {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

#connectionMessage{
    position: absolute;
    right: 10px;
    top: 20px;
    padding: 10px 15px;
    background-color: rgb(0, 110, 0);
    color: #f8f9fa;
}
// input[type="date"] {
//     font-size: 5500px;
//     height: 34px;
// }
// .sdl_dob{
//     position: relative;
//     .plc_holdr{
//         position: absolute;
//         top: 55%;
//         left: 13px;
//     }
// }

.sdl_form_btn{
    position: relative;
    
    #loadingSpinner{
        position: absolute;
        left: 60%;
        top: 50%;
        transform: translateY(-96%);
    }
}

.enroll_list{
    max-width: 1300px;
    width: 100%;
    padding:0 12px;
    margin: auto;
    #studentListBody{
        .sdl_dlt{
            display: flex;
            flex-direction: column;
            padding: 5px;
            gap: 2px;
        }
        #delBtn, .editBtn{
            background: rgb(187, 0, 0);
            color: #fff;
            border-radius: 4px;
            text-align: center;
            transition: all .5s;
            cursor: pointer;
            text-decoration: none;
            &:hover{
                opacity: .6;
            }
        }
        .editBtn{
            background-color: rgb(5, 195, 5);
        }
        #loadingSpinner{
            margin-top: -30px;
            margin-left: -37px;
            position: absolute;
            top: 25%;
            left: 50%;
        }
    }
    .succuss_msg {
        display: none;              
        color: green;            
        font-weight: bold;         
        padding: 10px;              
        margin-top: 10px;           
        background-color: #e6ffe6; 
        border: 1px solid green;  
        border-radius: 5px;         
    }
    
}

.sdl_course_mngmnt{
    .container {
        width: 80%;
        margin: 0 auto;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
    }
    
    th, td {
        padding: 10px;
        border: 1px solid #ddd;
        text-align: left;
    }
    
    th {
        background-color: #f4f4f4;
    }
    
    button {
        padding: 13px 10px;
        margin: 5px;
        background-color: #ff4d4d;
        border: none;
        color: white;
        cursor: pointer;
        border-radius: 4px;
    }
    
    button:hover {
        background-color: #ff1a1a;
    }
    
    input[type="text"] {
        padding: 10px;
        width: 80%;
        margin-bottom: 20px;
    }
    
}